<div class="food-menu">
    <div class="food-item">
        <div>
            <img src="../../assets/images/angular.png" alt="Supply Chain">
            <div>
                <h5>Angular 2.0</h5>
                <p>2.0</p>
                <a href="#">
                    Explore</a>
            </div>
      </div>
    </div>
    <div class="food-item">
        <div>
            <img src="../../assets/images/angular.png" alt="Supply Chain">
            <div>
                <h5>Angular 2.0</h5>
                <p>2.0</p>
                <a href="#">
                    Explore</a>
            </div>
        </div>
    </div>
    <div class="food-item">
        <div>
            <img src="../../assets/images/angular.png" alt="Supply Chain">
            <div>
                <h5>Angular 2.0</h5>
                <p>2.0</p>
                <a href="#">
                    Explore</a>
            </div>
        </div>
    </div>
    <div class="food-item">
        <div>
            <img src="../../assets/images/angular.png" alt="Supply Chain">
            <div>
                <h5>Angular 2.0</h5>
                <p>2.0</p>
                <a href="#">
                    Explore</a>
            </div>
        </div>
    </div>
</div>