<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="../../assets/images/image.png" width=70% />
        </div>
        <div class="col-8">
            <details>
                <summary>Our Purpose</summary>
                <p>To deliver on the promise of technology
                    and human ingenuity
                    
                    We embrace the power of change to create 360° value
                    for our clients, people and communities.</p>
            </details>
            <details>
                <summary>We create 360° value by embracing change</summary>
                <p>We now work with 91 of the Fortune Global 100. As of 2021, we've made 19 consecutive appearances on the list of Fortune's "World's Most Admired Companies". And that's just the beginning.</p>
            </details>
            <details>
                <summary>Core values</summary>
                <p>Our values shape the culture of our organization and define the character of our company. We live the core values through individual behaviors. They serve as the foundation for how we act and make decisions.</p>
            </details>
            <details>
                <summary>Ethics and corporate governance</summary>
                <p>Acting with ethics and integrity always has been and always will be the right thing to do.</p>
            </details>
            <details>
                <summary>Our culture of equality</summary>
                <p>Accenture’s commitment to our people and to accelerating equality for all has never been more relevant than it is today.
                </p>
            </details>
        </div>
    </div>
</div>