<nav>
    <ul>
        <li>
            <figure>
                <img src="../../assets/images/version/1.png" alt="1" />
                <figcaption>Angular 1.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/2.png" alt="2" />
                <figcaption>Angular 2.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/3.png" alt="3" />
                <figcaption>Angular 3.x</figcaption>
            </figure>
        </li>
        <li>
           <figure>
                <img src="../../assets/images/version/4.png" alt="4" />
                <figcaption>Angular 4.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/5.png" alt="5" />
                <figcaption>Angular 5.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/6.png" alt="6" />
                <figcaption>Angular 6.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/7.png" alt="7" />
                <figcaption>Angular 7.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/8.png" alt="8" />
                <figcaption>Angular 8.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/9.png" alt="9" />
                <figcaption>Angular 9.x</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="../../assets/images/version/10.png" alt="10" />
                <figcaption>Angular 10.x</figcaption>
            </figure>
        </li>
        <li>
             <figure>
                <img src="../../assets/images/version/11.png" alt="11" />
                <figcaption>Angular 11.x</figcaption>
            </figure>
        </li>
        <li>
            <!-- Button trigger modal -->
            <button type="button" class="btn-1 btn-primary-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <figure>
                    <img src="../../assets/images/version/12.png" alt="12" />
                    <figcaption>Angular 12.x</figcaption>
                </figure>
            </button>
        </li>
    </ul>
</nav>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Angular 12.x</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <section>
                <h2>Moving Closer to Ivy Everywhere</h2>
                <p>The key moment in the next evolution of Angular has finally arrived — we are finally deprecating View Engine. This is what it means for the community.
                    Now that View Engine is deprecated, it will be removed in a future major release.
                    Current libraries using View Engine will still work with Ivy apps (no work is required by developers), but library authors should start planning to transition to Ivy.
                    We wrote a blog post providing details about this change and what it means for library authors and more.
                </p>
            </section>
            <section>
                <h2>Transitioning from Legacy i18n Message IDs</h2>
                <p>
                    Currently, there are multiple legacy message id formats being used in our i18n system. These legacy message ids are fragile as problems can arise based on whitespace and the formatting templates and ICU expressions. To solve this problem we’re migrating away from them. The new canonical message id format is much more resilient and intuitive. This format will reduce the unnecessary translation invalidation and associated retranslation cost in applications where translations do not match due to whitespace changes for example.
            Since v11, new projects are automatically configured to use the new message ids and we now have tooling to migrate existing projects with existing translations. Find out more here.
            The Future of Protractor
            The Angular team has been working with the community to determine the future of Protractor. We’re currently reviewing the feedback shared in the RFC. We’re still figuring out the best future for Protractor. We’ve opted to not include it in new projects and, instead, provide options with popular 3rd party solutions in the Angular CLI. We are currently working with Cypress, WebdriverIO, and TestCafe to help users adopt the alternative solutions. More information to come as this develops.
                </p>
            </section>
            <section>
                <h2>Nullish Coalescing</h2>
                <p>
                    The nullish coalescing operator (??) has been helping developers write cleaner code in TypeScript classes for a while now. We’re thrilled to announce that you can bring the power of nullish coalescing to Angular templates in v12!
                </p>
            </section>
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>